<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <div><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</div>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-item">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group-item">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group-item">
    <%= form.label :width %>
    <%= form.number_field :width, class: 'form-control' %>
  </div>

  <div class="form-group-item">
    <%= form.label :height %>
    <%= form.number_field :height, class: 'form-control' %>
  </div>

  <div class="form-group-item">
    <%= form.label :mines %>
    <%= form.number_field :mines, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit "Generate Board", class: 'btn btn-primary' %>
  </div>
<% end %>
